<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <!-- Logo -->
    <a class="py-2" href="#home">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto">
        <circle cx="12" cy="12" r="5"></circle>
        <line x1="12" y1="1" x2="12" y2="3"></line>
        <line x1="12" y1="21" x2="12" y2="23"></line>
        <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
        <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
        <line x1="1" y1="12" x2="3" y2="12"></line>
        <line x1="21" y1="12" x2="23" y2="12"></line>
        <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
        <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
      </svg>
    </a>

    <!-- Links de navegación -->
    <a class="py-2 d-none d-md-inline-block" href="#plantes">Plantas</a>
    <a class="py-2 d-none d-md-inline-block" href="#plantes_table">Tabla</a>
    <a class="py-2 d-none d-md-inline-block" href="#mapa">Mapa</a>

    <!-- Botones de autenticación -->
    <a class="py-2 d-none d-md-inline-block" href="#login">Login</a>
    <a class="py-2 d-none d-md-inline-block" href="#register">Registro</a>
    <a class="py-2 d-none d-md-inline-block" href="#logout">Logout</a>
  </div>

  <form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="search" aria-label="Search" 
    [(ngModel)]="searchString"
    [ngModelOptions]="{standalone: true}"
    (ngModelChange)="search($event)"/>

    <button class="btn btn-outline-success" type="submit" (click)="setSearch($event)">Search</button>
  </form>
</nav>
