.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
  color: #999999;
  text-decoration: none;
  transition: color ease-in-out 0.15s;
}

.site-header a:hover {
  color: #01ff62;
}
