<div class="hero text-center">
  <!--div izquierda con el titulo-->
  <div class="col-md-5 p-lg-5 my-5 hero-left">
    <h1 class="display-4 font-weight-normal hero-main-title">Lux</h1>
    <h1 class="display-4 font-weight-normal hero-subtitle">Energía Solar</h1>
    <a class="btn btn-outline-light hero-cta" [routerLink]="['/plantes_table']">Ver Plantas</a>
  </div>

  <!--div derecha con la fabrica y las placas -->
  <div class="col-md-5 p-lg-5 my-5 hero-right">
    <img src="panel.png" alt="panelsolar">
  </div>

</div>


